%tr
  %td= link_to event.name, event_path(event)
  %td= event.location
  %td= event.start_date.to_date  #add decorator
  %td= event.end_date.to_date if event.end_date  #add decorator
  %td.hidden-480
    %span.label.label-sm.label-warning Expiring
