/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
*/


.main_container {
  float: left;
  margin-left: 40px;
  width: 80%
}

/*margins*/
.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.m20 {
  margin: 20px;
}

/*flash messages*/
.flash {
  font-size: 20px;
  line-height: 40px;
  min-height: 40px;
  border-radius: 10px;
  text-align: center;
  width: 85%;
  margin: auto;
  color: white;
}
.flash_error{
  background-color: red;
}

.flash_notice {
  background-color: greenyellow;
}

.flash_message {
  background-color: cornflowerblue;
}
